//Färgpalett
$primary-color: #0077cc;
$secondary-color: #00275e;
$accent-color: #bddaff;

$background-light: #f8f8f8;
$background-dark: #1a1a1a;
$text-color-light: #ffffff;
$text-color-dark: #333;


$button-bg: #efefef;
$button-text: #000;

// Skuggor
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

// Typsnitt
$font-stack: "Work Sans", sans-serif;
