@use "abstracts/variables";
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    gap: 2rem;
  }
  .footer-about {
    max-width: 19rem;
    text-align: center;
    margin: 0 auto;
  }

  .hamburger {
    display: block;
    color: variables.$text-color-light;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    display: none; //Dölj menyn som standard
    position: absolute;
    top: 3.1rem;
    left: 0;
    gap: 1.1rem;
    flex-direction: column;
    background-color: variables.$secondary-color;
    min-width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 0;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  .nav-menu.active {
    display: flex; //Visa menyn när .active läggs till
  }

  .nav-item {
    margin: 16px 0;
  }
}

.contact {
  background-color: variables.$background-light;
  padding: 4rem 1.5rem;

  .container {
    width: 80%;
  }
}
